[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-core = "*"
langchain = "*"
langchain-experimental = "*"
langchain-community = "*"
python-dotenv = "*"
openai = "*"
langchain-openai = "*"
numexpr = "*"
duckduckgo-search = "*"
wikipedia = "*"
pypdf = "*"
jq = "*"
youtube-transcript-api = "*"
pytube = "*"
pydantic = "*"
chromadb = "*"
faiss-gpu = "*"
streamlit = "*"
pinecone-client = "*"
tiktoken = "*"
langchain-anthropic = "*"
langchainhub = "*"
psycopg2-binary = "*"
pgvector = "*"
langchain-postgres = "*"
langchain-mongodb = "*"
pymongo = "*"
langchain-google-genai = "*"
google-generativeai = "*"
pillow = "*"
docx2txt = "*"
chroma = "*"
unstructured = "*"
pdfminer = "*"
"pdfminer.six" = "*"
streamlit-chat = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
